@tailwind base;
@tailwind components;
@tailwind utilities;

.blogContent {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
    width: 100% !important;
}

/* Custom scrollbar styling */
.blogContent::-webkit-scrollbar {
    width: 12px;
}

.blogContent::-webkit-scrollbar-thumb {
    background-color: #888; /* Change this color to your preference */
    border-radius: 10px;
    border: 3px solid #f1f1f1; /* Adds space around the scrollbar thumb */
}

.blogContent::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Change this color to your preference */
}

.publish_container {
    width: 75%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.blog_title {
    margin-top: 1.25rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;
}

.blog_search_container {
    width: 75%;
    padding: 0.5rem;
    margin: auto;
}

.blog_search_container label {
    display: block;
    margin-bottom: 1rem;
}


.blog_search_select {
    padding: 0.5rem;
    border-width: 1px;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}

.blog_content {
    width: 75%;
    text-align: center;
    border-width: 1px;
    border-color: rgb(209 213 219);
    padding: 1rem;
    margin: auto;
}

.blur {
    filter: blur(10px);
    pointer-events: none;
    position: relative;
}

.blur::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

.publish_button {
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: rgb(59 130 246);
    color: rgb(255 255 255);
    border-radius: 0.25rem;
}
