@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    direction: rtl;
}

#container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
}

#header, #footer {
    padding: 10px;
    text-align: center;
    flex-shrink: 0;
}

#main-content {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}

#sidebar {
    width: 250px;
    padding: 10px;
    flex-shrink: 0;
    overflow: hidden; /* Ensure it doesn't scroll */
}

#content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
}

/* Custom scrollbar styling */
#content::-webkit-scrollbar {
    width: 12px;
}

#content::-webkit-scrollbar-thumb {
    background-color: #888; /* Change this color to your preference */
    border-radius: 10px;
    border: 3px solid #f1f1f1; /* Adds space around the scrollbar thumb */
}

#content::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Change this color to your preference */
}

h1, p {
    margin: 0;
}

/* Custom scrollbar styling */
#rss_feed::-webkit-scrollbar {
    width: 12px;
}

#rss_feed::-webkit-scrollbar-thumb {
    background-color: #888; /* Change this color to your preference */
    border-radius: 10px;
    border: 3px solid #f1f1f1; /* Adds space around the scrollbar thumb */
}

#rss_feed::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Change this color to your preference */
}

#rss_feed {
    scrollbar-color: #888 #f1f1f1; /* For Firefox */
    scrollbar-width: thin; /* For Firefox */
    direction: ltr; /* Ensure scrollbar appears on the right */
}

.link {
    color: #0070f3; /* Blue color for links */
    text-decoration: none; /* Remove default underline */
    border-bottom: 2px solid transparent; /* Add transparent border */
    transition: color 0.3s ease, border-bottom-color 0.3s ease; /* Smooth transition */
}

.link:hover {
    color: #005bb5; /* Darker blue on hover */
    border-bottom-color: #005bb5; /* Add border color on hover */
}
