.aboutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow-y: scroll;
    background-color: rgb(243 244 246);
    width: 100% !important;
    margin: auto;
}

.aboutHeader {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.aboutTextContainer {
    width: 100%;
    max-width: 42rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-bottom: 2rem;
}

.aboutTextContainer p {
    margin-bottom: 1rem;
}
