.gallery_container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2.5rem;
    text-align: center;
}

.gallery_header {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.5rem;
}
@media (min-width: 768px) {
    .gallery {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
@media (min-width: 1024px) {
    .gallery {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
