.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: max-content;
    background-color: rgb(243 244 246);
    width: 100%;
}

.homeHeader {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.homeSearchContainer {
    margin-bottom: 1rem;
}

.feedsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
